<h2>Documents</h2>
<p><a href="./lib/files/doylej_description_heritage.doc">Description du projet</a> 
  (Microsoft Word)</p>
<p><a href="./lib/files/doylej_planification.xls">Planification du projet</a> 
  (Microsoft Excel)</p>
<p><a href="./lib/files/doylej.pdf">Pr&eacute;sentation</a> (Adobe PDF)</p>
<h3>Journaux de bord</h3>
<p><a href="./journal1.html">Premier journal de bord </a></p>
<p><a href="./journal2.html">Deuxi&egrave;me journal de bord</a></p>
<p><a href="./journal3.html">Troisi&egrave;me journal de bord</a></p>
<p><a href="./journal4.html">Quatri&egrave;me journal de bord</a></p>
