<table width="622" border="0" cellpadding="0" cellspacing="0" style="padding:0px;margin:0px;">
  <tr> 
    <td colspan="2" valign="top"><h2>Introduction</h2></td>
  </tr>
  <tr> 
    <td width="312" valign="top"><img src="./images/moi.jpg" width="300" height="213" align="absbottom"><br /> 
      <font size="1"><em>Photo de Jean-Philippe Doyle ( &copy; Andr&eacute; Nolin 
      )</em></font></td>
    <td width="310" valign="top" style="text-align:justify;">Bienvenue sur mon 
      projet H&eacute;ritage. Je me nomme Jean-Philippe Doyle et j'ai cr&eacute;&eacute; 
      ce site qui se consacre &agrave; l'apprentissage de la base du d&eacute;veloppement 
      web dans le cadre du projet H&eacute;ritage 2005-2006 &agrave; l'&eacute;cole 
      secondaire les Compagnons-de-Cartier. L'an prochain, j'&eacute;tudierai 
      pour obtenir un DEC BAC en informatique au coll&egrave;ge Fran&ccedil;ois-Xavier-Garneau. 
      J'esp&egrave;re que ce site pourra vous &ecirc;tre utile et vous donner 
      un avant-go&ucirc;t d'une de mes passions, le d&eacute;veloppement d'applications. 
      Si vous d&eacute;sirez me contacter, vous pouvez le faire en tout temps 
      &agrave; <a href="mailto:jeanphilippe.doyle@gmail.com">jeanphilippe.doyle@gmail.com</a>.</td>
  </tr>
</table>
<h2>Projet H&eacute;ritage</h2>
<p>Le projet H&eacute;ritage est r&eacute;alis&eacute; par les &eacute;l&egrave;ves 
  de cinqui&egrave;me secondaire du programme Protic. Les objectifs du projet 
  sont de laisser un h&eacute;ritage en d&eacute;veloppant un outil technologique 
  servant &agrave; l'apprentissage ou &agrave; l'am&eacute;lioration de la communaut&eacute;, 
  de d&eacute;montrer ses habilet&eacute;s dans l'utilisation de la technologie, 
  de d&eacute;montrer certaines comp&eacute;tences transversales et de r&eacute;aliser 
  un &quot;portail web&quot; permettant &agrave; la collectivit&eacute; d'avoir 
  acc&egrave;s &agrave; votre h&eacute;ritage ainsi qu'au processus de r&eacute;alisation 
  de celui-ci.</p>
<h2>Définition</h2>
<p>Vous trouverez ici comment faire une utilisation de base de diff&eacute;rentes 
  technologies n&eacute;cessaires au d&eacute;veloppement web. Il y a bien s&ucirc;r 
  une multitude de technologies, mais j'ai s&eacute;lectionn&eacute; celles que 
  je crois &ecirc;tre les plus utilis&eacute;es, les plus utiles, les plus flexibles, 
  les plus performantes et multiplatformes (qui fonctionnent avec les principaux 
  syst&egrave;mes d'exploitation tels que Windows, Linux, Unix, etc.). C'est donc 
  des comp&eacute;tences de base en CSS, JavaScript, PHP et MySQL que vous pourrez 
  obtenir en consultant ce site. </p>
<h2>But</h2>
<p>Les gens croient souvent que &laquo; programmer &raquo; est quelque chose de 
  bien compliqu&eacute;. Le but de mon projet est premi&egrave;rement de d&eacute;montrer 
  que c'est faux, que ce n'est pas si extraordinaire de programmer, d&#8217;utiliser 
  une base de donn&eacute;es et etc. Ce qui est difficile n&#8217;est pas r&eacute;ellement 
  de savoir &laquo; programmer &raquo; mais de savoir comment utiliser toutes 
  les ressources disponibles (technologies, fonctions d&#8217;un langage de programmation, 
  etc.) pour arriver &agrave; son but. Le but principal est donc de permettre 
  aux &eacute;l&egrave;ves d'apprendre &agrave; faire une utilisation de base 
  des technologies pour le d&eacute;veloppement Web.</p>
<h2>Liens</h2>
<p>Projet H&eacute;ritage<br>
  <a href="http://heritage.pingouin.ca">http://heritage.pingouin.ca</a>
</p>
<p>Programme Protic<br>
  <a href="http://www.protic.net">http://www.protic.net</a></p>
<p>&Eacute;cole secondaire les Compagnons-de-Cartier<br>
  <a href="http://www.escc.ca">http://www.escc.ca</a></p>
<p>Cr&eacute;ation KJP S.E.N.C. (mon entreprise et portfolio)<br>
  <a href="http://www.creationkjp.com" target="_blank">http://www.creationkjp.com</a></p>
