<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//FR" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="FR" xml:lang="FR">
<link href="css/index.css" rel="stylesheet" type="text/css" />
<head>
<title>{_LG_index_title1}{current_page}</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Content-language" content="fr">
<meta http-equiv="imagetoolbar" content="no">
<meta name="robots" content="index, follow, all">
<meta name="audience" content="all">
<meta name="author" content="Jean-Philippe Doyle">
<meta name="identifier-url" content="{complete_url}">
<meta name="copyright" content="Jean-Philippe Doyle">
<meta name="revisit-after" content="3 days">
</head>
<script language="JavaScript">
function todo(){
		{javascript_on_load}
}
</script>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onload="javascript:todo();">
<div class="container">
	<div class="header">
		<h1 class="header">{_LG_index_title2}</h1>
		{_LG_index_title3}
    <div class="langmenu"> <!-- <a href="{complete_url}">français</a> | <a href="#">english</a>  --></div>
	</div>
	<div class="left">
		<div class="menu">{_LG_index_menu1}
			<a href="./">{_LG_index_menu1.1}</a>
			<a href="./documents.html">{_LG_index_menu1.2}</a>
		</div>
		<div class="menu">{_LG_index_menu2}
			<a href="./preface.html">{_LG_index_menu2.1}</a>
			<a href="./css.html">{_LG_index_menu2.2}</a>
			<a href="./javascript.html">{_LG_index_menu2.3}</a>
			<a href="./php.html">{_LG_index_menu2.4}</a>
			<a href="./mysql.html">{_LG_index_menu2.5}</a>
			<a href="./revision.html">{_LG_index_menu2.6}</a>		
		</div>		
	</div>
	<div class="content">
	{misc}
	</div>
	  <div class="footer">{_LG_index_footer}</div>
	</div>
</div>
</body>
</html>