<h2>Journal de bord 2</h2>
<p><em>25 mars 2006</em></p>
<p>Mon projet avance toujours tr&egrave;s bien, je suis bien ma planification. 
  J&#8217;ai termin&eacute; la r&eacute;daction de la section JavaScript (<a href="./javascript.html">voir 
  ici</a>) et elle contient environ 1500 mots. La section PHP (<a href="./php.html">voir 
  ici</a>) contient environ 820 mots d&#8217;explications ainsi que d&#8217;exemples 
  et n&#8217;est bien sur pas encore termin&eacute;e. La section PHP est beaucoup 
  plus complexe que les autres sections, mais je n&#8217;ai pas trop de difficult&eacute;s 
  &agrave; synth&eacute;tiser l&#8217;information la plus utile puisque je la 
  connais assez bien et l&#8217;utilise souvent. La fin de la r&eacute;daction 
  de la section PHP est pr&eacute;vu pour le 29 mars sur planification et il reste 
  encore 2 p&eacute;riodes en classe d&#8217;ici l&agrave; qui me permettront 
  de la terminer. </p>
<p>Je n&#8217;ai pas rencontr&eacute; beaucoup de difficult&eacute;s &agrave; 
  terminer la section JavaScript et &agrave; commencer la section PHP. J&#8217;ai 
  cru que la section PHP serait plus difficile &agrave; faire, car il y a plus 
  de choses &agrave; savoir sur PHP que sur JavaScript ou CSS. Mais puisque j&#8217;utilise 
  PHP depuis plus longtemps que les deux autres c&#8217;est en r&eacute;alit&eacute; 
  beaucoup plus facile de synth&eacute;tiser l&#8217;information importante. J&#8217;ai 
  aussi indirectement rencontr&eacute; une difficult&eacute; en aidant d&#8217;autres 
  personnes &agrave; r&eacute;aliser leur site Internet. J&#8217;ai donn&eacute; 
  une base de site Internet &agrave; quelques personnes qui fonctionnait sur mon 
  compte de pingouin, mais j&#8217;ai vite r&eacute;alis&eacute; que cette base 
  de site ne fonctionnait pas sur les autres comptes pingouins. J&#8217;ai donc 
  contact&eacute; l&#8217;administrateur de pingouin qui a heureusement r&eacute;gl&eacute; 
  le probl&egrave;me qui &eacute;tait hors de mon contr&ocirc;le (c&#8217;&eacute;tait 
  une configuration du serveur, je crois).</p>
<p>Pour ce qui est des comp&eacute;tences transversales, ma capacit&eacute; &agrave; 
  exploiter les technologies de l&#8217;information et de la communication est 
  bien appliqu&eacute;e dans mon site Internet. Mon site est tr&egrave;s bien 
  structur&eacute; : il y a un menu qui propose les sections qui elles proposent 
  &agrave; leur tour une table des mati&egrave;res. Mais ce n&#8217;est pas tout, 
  il y a d&#8217;autres formes d&#8217;organisation &agrave; l&#8217;int&eacute;rieur 
  des sections qui permettent de mieux communiquer l&#8217;information. Les exemples 
  de code et leurs r&eacute;sultats sont dans des encadr&eacute;s de couleur distinctive 
  qui contiennent aussi un graphique distinctif. En plus de tout &ccedil;a, j&#8217;utilise 
  la m&eacute;thode propos&eacute;e par Bernard pour citer mes liens.</p>
<p>Dans les t&acirc;ches qu&#8217;il me reste &agrave; accomplir, je ne devrais 
  pas rencontrer trop de probl&egrave;mes. La seule chose qui m&#8217;inqui&egrave;te 
  un peu, c&#8217;est &agrave; savoir si j&#8217;aurai assez de temps pour traduire 
  tous mes textes. J&#8217;ai pr&eacute;vu 5 heures &agrave; la maison pour la 
  traduction, mais vu la quantit&eacute; de mots que contiennent mes sections 
  (environ 3000 mots &agrave; date), il me demandera probablement plus de temps. 
  Mais ce n&#8217;est peut-&ecirc;tre pas si colossal puisqu&#8217;il y a dans 
  ces textes des exemples de code qui ne devront pas &ecirc;tre enti&egrave;rement 
  traduit.</p>
<p></p>
