<h2>Journal de bord 3</h2>
<p><em>22 avril 2006</em></p>
<p>J&#8217;ai termin&eacute; ce que je devais avoir termin&eacute; suivant ma 
  planification. J&#8217;ai cependant d&eacute;cid&eacute; de ne plus faire une 
  version en anglais, car vu la taille des textes, &ccedil;a me prendrait beaucoup 
  plus de temps que ce que j&#8217;avais pr&eacute;vu pour une traduction en anglais. 
  J&#8217;ai donc d&eacute;cid&eacute; de prendre ce temps pr&eacute;vu pour la 
  traduction pour faire une section de r&eacute;vision avec un questionnaire et 
  une mise en situation. Je crois que cela rendra mon projet bien plus utile pour 
  les &eacute;l&egrave;ves que si je l&#8217;avais traduit. Mon projet m&#8217;aura 
  certainement pris moins que les 80 heures pr&eacute;vues, mais je crois qu&#8217;il 
  vaut mieux en pr&eacute;voir plus que pas assez.</p>
<p>J&#8217;ai eu quelques difficult&eacute;s &agrave; cr&eacute;er mon propre 
  questionnaire. J&#8217;ai utilis&eacute; mon propre code en JavaScript, ce qui 
  m&#8217;a caus&eacute; quelques probl&egrave;mes que j&#8217;ai r&eacute;solus 
  en cherchant sur Internet. On m&#8217;a dit que la page d&#8217;accueil de mon 
  site s&#8217;affichait mal sur Internet explorer 6, probl&egrave;mes que je 
  n&#8217;ai pas encore r&eacute;solus, mais qui ne devraient pas &ecirc;tre trop 
  compliqu&eacute;s puisque je crois qu&#8217;il me suffira de changer la m&eacute;thode 
  que j&#8217;ai utilis&eacute;e pour mettre ma photo &agrave; c&ocirc;t&eacute; 
  du texte. Et en passant, Internet Explorer est vraiment le pire navigateur, 
  car il est presque le seul qui ne respecte pas les standards du W3C (ce qui 
  fait que plusieurs sites s&#8217;affichent bien sur tous les navigateurs &agrave; 
  l&#8217;exception de celui-ci).</p>
<p>Pour ce qui est des comp&eacute;tences transversales, je crois avoir bien r&eacute;ussi 
  &agrave; exploiter l&#8217;information. J&#8217;ai utilis&eacute; plusieurs 
  sources pour chacune de mes sections, des sources qui sont fiables. La majorit&eacute; 
  de mes sources sont les sites qui d&eacute;finissent les standards pour chacune 
  des mati&egrave;res enseign&eacute;es dans mes sections. Un exemple est le site 
  de PHP que j&#8217;ai utilis&eacute; pour obtenir de l&#8217;information. Le 
  site de PHP est fiable, car c&#8217;est le site officiel de ce langage de programmation. 
  De plus, beaucoup de ses sources sont en anglais, j&#8217;ai donc d&ucirc; traduire 
  l&#8217;information que j&#8217;ai recueillie.</p>
<p>Il reste peu de temps pour terminer le travail, mais je crois que je n&#8217;aurai 
  pas de probl&egrave;me &agrave; le faire puisque j&#8217;ai bien suivi ma planification. 
  J&#8217;ai termin&eacute; la plus grosse partie du travail, il ne reste que 
  la finition &agrave; faire et ma pr&eacute;sentation &agrave; pr&eacute;parer. 
  Je crois aussi que j&#8217;avais un peu surestim&eacute; certaines t&acirc;ches 
  qui se sont av&eacute;r&eacute;es plus faciles gr&acirc;ce aux connaissances 
  que j&#8217;avais d&eacute;j&agrave; sur le sujet. </p>
