<h2>Journal de bord 4</h2>
<p><em>29 avril 2006</em></p>
<p>Ma planification a bien &eacute;t&eacute; suivie et j&#8217;ai maintenant termin&eacute; 
  presque tout mon projet. Il reste bien s&ucirc;r la pr&eacute;paration &agrave; 
  la pr&eacute;sentation orale &agrave; mettre en place. </p>
<p>J&#8217;ai encore rencontr&eacute; le probl&egrave;me avec Internet Explorer, 
  que je n&#8217;ai pas encore r&eacute;solu, mais je ne me suis pas beaucoup 
  pench&eacute; sur le probl&egrave;me. Je ne crois pas que ce soit une priorit&eacute; 
  pour mon projet, il y a d&#8217;autres choses &agrave; terminer bien plus importantes.</p>
<p>Lors de la mise &agrave; l&#8217;essai les 24 et 25 avril 2006, j&#8217;ai 
  bien mis en &#339;uvre ma comp&eacute;tence transversale &agrave; coop&eacute;rer. 
  J&#8217;ai su commenter quelques projets et recevoir des commentaires sur le 
  mien. Voici les commentaires que j&#8217;ai re&ccedil;us et ce que j&#8217;ai 
  fait suite &agrave; ceux-ci :</p>
<p> <em>Les explications se comprennent bien. Tu devrais rajouter une animation 
  flash. - Rapha&euml;l Biron Ouellet.</em></p>
<p>Je n&#8217;ai bien s&ucirc;r pas fait d&#8217;animation flash puisque je n&#8217;en 
  vois pas la n&eacute;cessit&eacute; et qu&#8217;il est un peu tard pour y songer.</p>
<p> <em>Le lien r&eacute;vision dans la table des mati&egrave;res de la section 
  CSS ne fonctionne pas. &#8211; Carole-Anne Turmel.</em></p>
<p>J&#8217;ai corrig&eacute; ce probl&egrave;me qui &eacute;tait bien simple.</p>
<p>Les prochains commentaires sont tous ceux de Jimmy Bourassa :</p>
<p><em>Laisser savoir au lecteur qu&#8217;il ne doit pas s&#8217;attendre &agrave; 
  tout comprendre lors de la premi&egrave;re lecture.</em></p>
<p>J&#8217;ai ajout&eacute; cette information dans la pr&eacute;face de mon projet.</p>
<p><em>O&ugrave; est la d&eacute;finition du projet h&eacute;ritage sur ton accueil?</em></p>
<p>J&#8217;ai ajout&eacute; la d&eacute;finition du projet h&eacute;ritage ainsi 
  que ses objectifs sur ma page d&#8217;accueil.</p>
<p><em>Dans la page sur le CSS, tu fais une petite introduction pour plusieurs 
  points (la section &laquo; syntaxe &raquo;, peut-&ecirc;tre pourrais tu ajouter 
  des liens se dirigeant vers la m&ecirc;me page un peu plus bas? De fa&ccedil;on 
  qu&#8217;il soit &eacute;vident qu&#8217;il s&#8217;agit d&#8217;explication 
  et de sous sections&#8230;</em></p>
<p>J&#8217;ai ajout&eacute; des liens comme propos&eacute;.</p>
<p><em>Dans la page sur le JavaScript, tu parles de jolis boutons roll-over&#8230; 
  peut-&ecirc;tre devrais tu sp&eacute;cifier de ce qu&#8217;il s&#8217;agit? 
  Pour un d&eacute;butant, c&#8217;est du chinois!</em></p>
<p>J&#8217;ai ajout&eacute; une explication, c&#8217;est des boutons dont l'image 
  change lorsque l'on passe au-dessus avec la souris.</p>
<p><em>Section PHP : &laquo;On pourra ensuite utiliser $variable['variable1'] 
  et $variable['variable12']&#8221; est-ce une erreur?</em></p>
<p>C&#8217;&eacute;tait bien une erreur que j&#8217;ai corrig&eacute;e.</p>
<p><em>Tu n&#8217;expliques pas ce que else, elseif, if&#8230; une br&egrave;ve 
  d&eacute;finition serait super!</em></p>
<p>C&#8217;est d&eacute;j&agrave; expliqu&eacute;, une section enti&egrave;re 
  de la page PHP leur est consacr&eacute;e.</p>
<p><em>Typo : tu as marqu&eacute; banc &agrave; place de blanc</em></p>
<p>Corrig&eacute;!</p>
<p><em>Il peut bien s&ucirc;r avoir un notre infini de bases de donn&eacute;es&#8230; 
  Typo : notre</em></p>
<p>Corrig&eacute;!</p>
<p><em>Il y a aussi un petit probl&egrave;me avec des \ qui s&#8217;ins&egrave;rent 
  lorsque tu &agrave; mis un l&#8217; dans la section MYSQL, (dans connexion)&#8230; 
  je crois que cela s&#8217;arrange facilement :P</em></p>
<p>Ce n&#8217;est pas une erreur, mais je n&#8217;ai pas expliqu&eacute; en effet 
  pourquoi les anti-slash sont l&agrave;. J&#8217;ai rajout&eacute; une explication 
  au d&eacute;but de la premi&egrave;re section qui aborde la syntaxe de programmation 
  (JavaScript).</p>
<p><em>Il reste aussi quelques &laquo; &agrave; venir &raquo; dans la section 
  r&eacute;vision&#8230;Mais tout de m&ecirc;me, un excellent projet, non seulement 
  pour les &eacute;l&egrave;ves de protic!!</em></p>
<p>Il reste en effet des mises en situation &agrave; mettre en place dans la section 
  r&eacute;vison que je terminerai d'ici la date limite.</p>
<p>Je crois que j&#8217;ai tout mis en place pour obtenir une certification PROTIC 
  et qu&#8217;il ne reste qu&#8217;&agrave; pr&eacute;senter mon projet de fa&ccedil;on 
  appropri&eacute;e. Je devrai pr&eacute;senter clairement ou j&#8217;ai mis des 
  efforts pour obtenir chaque point n&eacute;cessaire. Je ne crois pas que ce 
  sera bien difficile &agrave; faire. Je n&#8217;ai en g&eacute;n&eacute;ral pas 
  de probl&egrave;me &agrave; pr&eacute;senter mes projets. Je n&#8217;ai pas 
  eu de difficult&eacute; &agrave; pr&eacute;senter mon Webfolio en secondaire 
  3 ainsi que mon projet personnel en secondaire 4.</p>
