<h2>Journal de bord 1</h2>
<p><em>25 f&eacute;vrier 2006</em></p>
<p>Mon projet avance bien, je suis m&ecirc;me en avance sur ma planification. 
  Je devais avoir termin&eacute; uniquement la r&eacute;daction de la section 
  CSS lors de l'&eacute;criture de ce journal, mais j'en suis d&eacute;j&agrave; 
  au d&eacute;but de la r&eacute;daction de la section JavaScript. Cette avance 
  est due &agrave; la cr&eacute;ation plus rapide que pr&eacute;vu de la structure 
  de me mon site. J&#8217;ai aussi cr&eacute;&eacute; avec Photoshop quelques 
  petits graphiques pour les exemples et un en-t&ecirc;te de page. La section 
  CSS (<a href="./css.html">voir ici</a>) contient environ 700 mots d&#8217;explications 
  ainsi que des exemples. La section JavaScript (<a href="./javascript.html">voir 
  ici</a>), qui est un peu plus complexe et qui n&#8217;est pas encore termin&eacute;e, 
  contient &agrave; date environ 1200 mots.</p>
<p>La principale difficult&eacute; que j'ai rencontr&eacute;e &agrave; ce jour 
  est de cerner quelle mati&egrave;re est importante &agrave; expliquer. Mon projet 
  voulant &ecirc;tre uniquement une introduction au d&eacute;veloppement Web, 
  je ne dois pas expliquer en profondeur chaque technologie, mais seulement en 
  faire un survol. Je dois donc s&eacute;lectionner et expliquer seulement la 
  base, chose qui est parfois difficile. Pour m&#8217;aider dans ma s&eacute;lection, 
  j&#8217;ai consult&eacute; des sites expliquant en profondeur le sujet et je 
  me suis guid&eacute; gr&acirc;ce &agrave; ceux-ci. </p>
<p>Pour ce qui est des comp&eacute;tences transversales, j&#8217;ai beaucoup utilis&eacute; 
  ma comp&eacute;tence de coop&eacute;ration. J&#8217;ai demand&eacute; &agrave; 
  quelques &eacute;l&egrave;ves (Andr&eacute; Nolin, Raphel Biron Ouellet et Jimmy 
  Bourassa) de lire ma section CSS afin d&#8217;obtenir leur opinion. Ainsi, j&#8217;ai 
  pu corriger quelques erreurs et am&eacute;liorer ma section afin qu&#8217;elle 
  soit plus facile &agrave; comprendre pour tous. J&#8217;ai aussi contribu&eacute; 
  &agrave; diff&eacute;rents projets d&#8217;autres &eacute;l&egrave;ves en les 
  aidant &agrave; concevoir leur site Web. Parmi ces &eacute;l&egrave;ves, on 
  retrouve Maxime Lafor&ecirc;t dont j&#8217;ai aid&eacute; &agrave; utiliser 
  PHP et une base de donn&eacute;es MySQL pour son projet. J&#8217;ai aussi utilis&eacute; 
  ma comp&eacute;tence &agrave; communiquer de fa&ccedil;on appropri&eacute;e. 
  J&#8217;ai structur&eacute; mes sections CSS et JavaScript avec une table des 
  mati&egrave;res, des sous-titres et j&#8217;ai utilis&eacute; des encadr&eacute;s 
  bien d&eacute;finis pour les exemples de code et leur r&eacute;sultat. J&#8217;ai 
  aussi utilis&eacute; la bonne mise en forme pour citer des liens, celle qui 
  est propos&eacute;e sur le site de Bernard Landry. </p>
<p>Je crois que ce qu'il reste &agrave; faire sera un peu plus complexe, surtout 
  la section PHP. Encore une fois, ce qui sera le plus difficile sera de cerner 
  la mati&egrave;re la plus importante &agrave; expliquer. Mais je suis confiant 
  que je serai capable de r&eacute;aliser le tout. La section MySQL devrait quant 
  &agrave; elle &ecirc;tre moins complexe. MySQL est un outil compl&eacute;mentaire 
  au PHP pour g&eacute;rer les donn&eacute;es (c&#8217;est une base de donn&eacute;es) 
  et il n&#8217;y a pas une tonne de choses &agrave; savoir pour comprendre son 
  fonctionnement et en faire une utilisation de base.</p>
