<h2>Pr&eacute;face</h2>
<p>Avant d'entreprendre l'acquisition de comp&eacute;tences avec CSS, JavaScript, 
  PHP et MySQL il est important d'avoir quelques connaissances de base sur le 
  HTML. Le HTML est le langage qui permet d'identifier les diff&eacute;rents &eacute;l&eacute;ments 
  d'une page Web (titre, tableau, image, paragraphe, etc.). Je vous conseille 
  donc de consulter le projet H&eacute;ritage de Marc-Antoine Noreau-Marois : 
  <a href="http://heritage2004.pingouin.ca/marcantoinen/" target="_blank">HTML 
  101</a>. De plus, si vous n'avez vraiment aucune base sur la cr&eacute;ation 
  d'un site Web, je vous conseille aussi de consulter le projet H&eacute;riage 
  de Vincent Couture : <a href="http://heritage2005.pingouin.ca/h2005couturev/" target="_blank">Comment 
  faire un site web pour les nuls</a>. </p>
<p>Lors d'une premi&egrave;re visite, il est conseill&eacute; de consulter la
   documentation dans l'ordre pr&eacute;sent&eacute; dans le menu. De plus, il
    ne faut pas s'attendre &agrave; comprendre enti&egrave;rement d&egrave;s
    une  premi&egrave;re lecture rapide! C'est peut-&ecirc;tre seulement une
    introduction  au d&eacute;veloppement Web, mais c'est aussi une immersion
    compl&egrave;te 
  dans un tout nouvel univers assez abstrait pour la plupart des gens n'ayant
     jamais programm&eacute;. Je crois aussi, par exp&eacute;rience personnelle,
      que la meilleure fa&ccedil;on d'apprendre est de se pratiquer et d'essayer
      de  r&eacute;aliser des choses malgr&eacute; notre connaissance
       parfois bien faible. Je recommande aussi de ne pas sauter des parties,
      car cela  pourrait gravement alt&eacute;rer votre compr&eacute;hension
      pour le reste du  contenu. Chacune des sections contient une table des
      mati&egrave;res pour vous 
  donner un avant-go&ucirc;t de son contenu et afin de s'y retrouver plus rapidement
   lors de consultations ult&eacute;rieures.</p>
<p>Il est aussi important de savoir que dans les sections qui suivent, les exemples 
  sont encadr&eacute;s de cette fa&ccedil;on :</p>
<p class="quote">le code de l'exemple</p>
<p>et</p>
<p class="example">le r&eacute;sultat du code</p>
